h1 {
    color: #85603f;
}

h2, h3 {
    color: #bd9354;
}

p {
    color: #9e7540;
}

img {
    width: 200px;
}

.card {
    margin-bottom: 50px;
}

.jumbotron{
    height: 100vh;
    background-color: #E9ECEF;
}

img {
    height: 200px;
}
